
 body {
      font-family: Arial, sans-serif;
    }
    .container {
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px;
    }
    .logo {
      float: right;
      margin-top: 10px;
    }
    h5 {
      font-weight: bold;
      text-align: center;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #ccc;
      margin-top: 20px;
    }
    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ccc;
    }
    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
    .edit-btn {
      background-color: #66bb6a;
      color: white;
      padding: 5px 18px;
      border: none;
      cursor: pointer;
    }
    .delete-btn {
      background-color: #ef5350;
      color: white;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
    }
  
    @media (max-width: 600px) {
      .container {
        padding: 10px;
      }
      .logo {
        max-width: 50%; 
        float: right; 
        margin-top: 10px;
      }
      .btn-floating.btn-large {
        display: block; 
        float: left;
        margin-top: 10px;
        margin-right: 10px;
      }
    }
