
 body {
      font-family: Arial, sans-serif;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }
    .logo {
      float:right;
      margin-top: 10px;
    }
    .logo img{
      max-width: 100%;
      height: auto;
    }
    .input-field label {
      font-weight: bold;
    }
    h6 {
      float: none;
      font-weight: bold;
      text-align: center;
    }
    @media screen and (max-width: 600px) {
      .container {
        max-width: 100%;
        padding: 10px;
  
      }
      .collapsible-header {
        font-size: 16px;
      }
      .section-title {
        font-size: 20px;
      }
      .collapsible-body ul {
        margin-left: 10px;
      } 
      .btn-floating.btn-large {
        width: 40px; 
        height: 40px;
        font-size: 24px; 
      
    }
  }
